@import "tailwindcss";
@import "@navikt/ds-css" layer(components);
@import "pdfjs-dist/web/pdf_viewer.css" layer(pdfjs);
@config "./tailwind.config.js";

@layer components {
    @theme {
        --a-font-family: "Source Sans 3", Arial, sans-serif;
    }
}

@layer kabal {
    :root {
        --a-font-family: "Source Sans 3", Arial, sans-serif;
    }

    ::selection {
        color: var(--ax-text-accent-contrast);
        background-color: var(--ax-bg-accent-strong);
    }

    .textLayer ::selection {
        color: transparent;
        background-color: color-mix(in oklab, var(--ax-bg-accent-strong) 50%, transparent);
    }

    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
}
