@import "tailwindcss/preflight" layer(preflight);
@import "@navikt/ds-css";
@import "../src/styles.css";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: clip;
}
