@import "tailwindcss/theme" layer(klage-file-viewer);
@import "tailwindcss/utilities" layer(klage-file-viewer);
@config "../tailwind.config.js";

@layer klage-file-viewer {
  .klage-file-viewer {
    box-sizing: border-box;
    height: 100%;

    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }
  }
}
